:root{
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: "DM sans", sans-serif;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img{
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

.header--title-conteiner{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}

.header--title-conteiner h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header--title-conteiner p {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header--button {
    position: absolute;
    top: 270px;
    left: calc(50% - 118px);
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /* Sombra */
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}

.header--button-span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url("./assets/icons/down-arrow.svg");
}

main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}

.main-exchange-conteiner {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;

}

.main-exchange-conteiner--title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;

}

main .background-img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url(./assets/img/Bitcoin.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-exchange-conteiner h2 {
    margin-bottom: 30px ;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.main-exchange-conteiner p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}

.main-grid-conteiner {
    width: 100%;
    min-width: 235px;
    height: 400px;
    background-color: var(--off-white);
}

.main-grid-conteiner .currency-table--title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
}

.grid-conteiner{
    display: flex;
    justify-items: center;
    width: 70%;
    min-width: 220px;
    max-width: 300px;
    height: 300px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

.main-grid-conteiner .grid {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2px;
    justify-items: center;
    align-items: center;
}


.grid p {
    width: 100%;
    height: 100%;
    background-color: var(--just-white);
    margin: 0;
    text-align: center;
    line-height: 70px;
    font-weight: 500;
    color: var(--grey);
}

.grid p .arriba {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 5px;
    background-image: url(./assets/icons/trending-up.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.grid p .abajo {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 5px;
    background-image: url(./assets/icons/trending-down.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.grid .right {
    font-size: 1.4rem;
    font-weight: normal;
    color: #757575;
}

.top-left-box{
    border-top-left-radius: 15px;
}

.top-right-box {
    border-top-right-radius: 15px;
}

.bottom-left-box {
    border-bottom-left-radius: 15px;
}

.bottom-right-box {
    border-bottom-right-radius: 15px;
}

.main-exchange--date{
    width: 190px;
    height: 30px;
    margin: 15px auto 0;
    border-radius: 8px;
    padding: 8px;
    background-color: var(--soft-orange);
}

.main-exchange--date p {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5rem;
}

.main-product--detail {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--black);

}

.main-product--detail .batata-logo {
    position: absolute;
    top: -10px;
    left: calc(50% - 25px);
    width: 40px;
    height: 25px;
    background-image: url(./assets/icons/batata.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product-detail--title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 50px auto 0;
    text-align: center;

}

.product-detail--title h2 {
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.product-detail--title p {
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.product-detail--card {
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    min-height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--warm-black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .16);
}

.product-detail--card .i {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.clock{
    background-image: url(./assets/icons/clock.svg);
}

.eye {
    background-image: url(./assets/icons/eye.svg);
}

.money {
    background-image: url(./assets/icons/dollar-sign.svg);
}

.check {
    background-image: url(./assets/icons/check-circle.svg);
}

.product-card--title {
    margin-bottom: 10px;
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--just-white)
}

.product-card--body {
    margin-bottom: 10px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.bitcoin-img-conteiner {
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url(./assets/img/bitcoinbaby2x.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.bitcoin-img-conteiner h2 {
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.main-plans--conteiner {
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px ;
    text-align: center;
}

.plans-title {
    width: 90%;
    min-width: 288px;
    height: auto;
    height: auto;
    margin: 0 auto;
}

.plans-title h2 {
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.plans-title p {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}

.plans-conteiner--slider {
    display: flex;
    /* gap: 20px; */
    /* height: 316px; */
    overflow: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.plan-conteiner--card {
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 50px 0 50px;
    margin-left: 50px;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

.plan-conteiner--card .recomended {
    position: absolute;
    top: -10px;
    left: calc(50% - 60px);
    width: 120px;
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    padding: 6px;
    color: var(--just-white);
}

.plan-body {
    height: auto;
}

.plan-body h3 {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: black;
}

.plan-body .plan-card--price {
    padding: 5px 0;
    height: 90px;
    font-size: 6.2rem;
    font-weight: bold;
    line-height: 5.3rem;
    color: black;
}

.plan-body .plan-card--price span {
    font-size: 1.2rem;
    font-weight: 300;
    vertical-align: 30px;
}

.plan-body .plan-card--saving {
    font-size: 1.2rem;
    color: #757575;
    font-family: Inter;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;

}

.plan-body button {
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background-color: #faf8f7;
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
    font-family: "DM", sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--black);
}

.plan-body button span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("./assets/icons/orange-right-arrow.svg");
    vertical-align: text-bottom;
}

